
<div class="container">
  <h1>Flags</h1>
  <% @flags.each do |flag| %>
    <strong>Title: </strong><%= flag.title %><br>
    <strong>Description: </strong><%= flag.description %><br>
    <strong>Creator: </strong><%= flag.user.first_name %><br>
    <strong>Created at: </strong><%= flag.created_at %><br>
    <%= link_to 'Delete',  flag,  method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>
